/* Custom styles */
.card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }
  